@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');

body{
    font-family: 'Akshar', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background-color: black;
    display: block;
}

header{
    background-color: #1f1f1f;
    background-color: white;
    margin: 0 auto;
    padding: 0px 0px 20px 0px;
    display: flex;
    height: 80px;

}
header ul{
    display: block;
    margin: 0 auto;
    padding: 0;
    padding-top: 25px;
    margin-right: 100px;
}
header li{
    margin: 0 auto;
    padding: 10px;
    margin-left: 40px ;
    list-style: none;
    float: left;
}
header li>a{
    margin: 0 auto;
    padding: 0;
    font-size: 24px;
    color: #1f1f1f;
    text-decoration:none;
}

header a:hover{
    color: #ff5050;
}

.main{
    background-color: #ffffff;
    color: #1f1f1f;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center;
    font-size: 42px;
    padding: 100px;
    z-index: -100;
}
.main h1{
    font-size: 116px;
    margin: 0 auto;
    padding: 0;
    padding-top: 100px;
}
#main-item{
    display: block;
    width: 100%;
}
.main a{
    text-decoration: none;
}

#red{
    color: #ff5050;
}
.about{
    margin: 0 auto;
    background-color: white;
    color: #1f1f1f;
    height: 600px;
}
.about h2{
    margin: 0;
    padding-top: 30px;
    text-align: center;
    font-size: 52px;
    color: rgb(255, 80, 80);
}

.about-content{
    width: min-content;
    margin: 0 auto;
    display: flex;
    justify-content:center;
}
.about-list{
    margin: 0 auto;
}
.about-list ul{
    width: 340px;
    display: block;
    width: 390px;
    height: 350px;
    border-right: 1px solid #1f1f1f;
    padding: 20px;
}
.about-list li{
    margin-left: 20px;
}

.about-list p{
    font-size: 18px;
}
.about-logos{
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0 auto;
}

.about-logos img{ 
    margin: 15px;
    margin-left: 50px;
    width: 175px;
    height: 175px;
    border-radius: 50%; 
}

footer{
    margin: 0 auto;
    padding: 50px;
    border-style: none;
    background-color: #1f1f1f;
   
}

footer h2{
    text-align: center;
    font-size: 52px;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #ff5050;
}

.contacts img{
    width: 50px;
}
.contacts{
    display: flex;
    padding-top: 20px;
    margin: 0 auto;
}
.contacts ul{
    margin: 0 auto;
    width: 800px;
    display: flex;
    justify-content: space-around;
}
.contacts a{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
.contacts li{
    margin: 10px;
    list-style: none;
    float: left;
}
.contacts a span{
    font-size: 16px;
    margin-left: 10px;
    color: rgb(185, 185, 185);
}

.button-52 {
    z-index: 1;
    margin: 0 auto;
    width: fit-content;
    display: inline-block;
    font-size: 24px;
    font-weight: 200;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
     outline: 0;
    border: 1px solid #1f1f1f;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    color: #000000;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-52:after {
    display: block;
    content: "";
    background-color: #ff5050;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

.portfolio{
    background-color: white;
    height: 1000px;
}

.portfolio h2{
    margin: 0 auto;
    padding: 0;
    padding-top: 100px;
    text-align: center;
    color: #ff5050;
    font-size: 92px;
}

.portfolio p{
    margin: 0 auto;
    width: 800px;
    text-align: center;
    font-size: 32px;
    color: #1f1f1f;
}

#portfolio-item{
    list-style: none;
}
#portfolio-item-img img{
    margin: 20px;
    width: 275px;
    border-radius: 20px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

@media (max-width: 850px) {
    .contacts ul{
        justify-content: left;
        width: 500px;
    }   

    .contacts li{
        float: right;
    }

    header,.main,.about,footer{
        margin: 0 auto;
        width: 850px;
        padding: 0px 0px 30px 0px;
      }
    .main{
        padding: 0px 0px 100px 0px;
    }  
}


.container_slider_css{
    margin:50px auto;
    width:900px;
    height:900px;
    overflow:hidden;
    position:relative}
.photo_slider_css{
    position:absolute;
    animation:round 6s infinite;
    opacity:0;
    width: 300px;}
@keyframes round {
25%{opacity:1}
40%{opacity:0}
}
img:nth-child(1){animation-delay:0s}
img:nth-child(2){animation-delay:3s}
/* img:nth-child(3){animation-delay:0s}
img:nth-child(4){animation-delay:0} */
@media(min-width:0px) and (max-width:320px) {
.container_slider_css{width:80%;height:190px}
}
@media(min-width:321px) and (max-width:480px) {
.container_slider_css{width:80%;height:190px}
}